.home-list {
  height: 410px;
  margin: 10px;

  &__media-card {
    background: linear-gradient(to bottom, black 58%, #383f4c);
  }

  &__title {
    font-weight: 400 !important;
    color: #c7c5c5d0 !important;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      color: #f1f1f1 !important;
    }
  }

  &__description {
    font-weight: 100 !important;
  }
}
